# for library
selenium>=4.33.0
webdriver-manager>=4.0.2
pytest-playwright>=0.7.0
playwright>=1.43.0
beautifulsoup4>=4.13.4
## pandas>=2.2.3

# DB
sqlalchemy>=2.0.41
psycopg[binary]>=3.2.0

# env
python-dotenv>=1.0.0

# for testing
behave==1.2.6
requests>=2.24.1
pytest>=8.4.0
pytest-mock>=3.14.1